input {
  background-color: transparent !important;
  border: 1px solid white !important;
  width: 100% !important;
  color: white;
  /* padding-left: 2rem !important; */
  outline: none !important;
  box-shadow: none !important;
}

input:focus {
  outline: none !important;
  box-shadow: none !important;
}

input::placeholder {
  font-size: 1rem;
  color: white !important;
  /* padding-left: 2rem !important; */
  letter-spacing: 1px;
}

.searchIcon {
  top: 10px;
  left: 12px;

}
