input {
  background-color: var(--darkGreyBG);
  border: none !important; 
  border-radius: 5px;
  width: 100% !important;
  color: white;
  outline: none !important;
  box-shadow: none !important;
}

input:focus {
  outline: none !important;
  box-shadow: none !important;
}

input::placeholder {
  font-size: 1rem;
  color: white !important;
  letter-spacing: 1px;
}

.searchIcon {
  top: 12px;
  left: 14px;
}
