.container {
  background-color: black;
  /* margin-top: 3rem;  */
}

.cardContainer {
  background-color: var(--darkGreyBG);
  border-radius: 15px;
}

.imgContainer {
  width: 100%; 
  height: 13rem; 
  overflow: hidden; /* Hide overflow */
  border-radius: 15px; /* Add border-radius to match the image */
  position: relative; /* Positioning context for the image */
  
}

.imgContainer img {
  width: 100%; /* Ensure image takes full width */
  height: 100%; /* Ensure image takes full height */
  object-fit: cover; /* Ensures the image covers the container */
  transition: transform 0.3s ease, filter 0.3s ease; /* Smooth transitions */
 
}

.imgContainer:hover img {
  transform: scale(1.05); /* Zoom in the image */
  filter: brightness(0.8); /* Darken the image */
}

.cardContainer small {
  color: var(--lightGreyText);
}

.likeSpan {
  background-color: black;
}

.btn {
  padding: 0.4rem 2rem !important;
  color: var(--darkGreyText) !important;
  font-size: 0.9rem !important;
}

.icon {
  margin-right: -7px;
}

.tagsContainer small:first-of-type {
  background-color: white !important;
  color: black !important;
}

.movieYearLength {
  font-size: 0.9rem;
  color: var(--lightGreyText);
}
