.listContainer {
  overflow: hidden;
}

.myListWrapper {
  overflow-x: hidden;
}

.list {
  display: flex;
  overflow-x: scroll;
  list-style: none;
  padding: 0;
  margin: 1.1rem 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
  gap: 2rem;
}

.list::-webkit-scrollbar {
  display: none;
}

.cardContainer {
  background-color: var(--darkGreyBG);
  border-radius: 12px;
  width: 22rem;
}

.placeholderImage {
  border-radius: 12px;
}

.fakeProgressBar {
  height: 10px;
  background-color: black;
  width: 100%;
}