.subscriptionPlan {
 font-size: 1rem;
}

.iconContainer {
    background-color: var(--darkGreyBG);
}

.switch input {
    background-image: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27%23e00606%27/%3e%3c/svg%3e') !important;
    width: 2em !important;
    height: 1em !important;
    border: 1px solid #e00606 !important;
}

.icon {
    color: var(--brightRed);
}