.loadingDiv {
  height: 90vh;
  position: fixed; /* Fix it on the screen */
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Make sure it's above all other content */
}

.carouselRow {
  background-color: black;
}

.carousel > :first-child {
  bottom: -45px !important;
}

@media (max-width: 767px) {
  .carousel > :first-child {
    bottom: -15px !important;
    padding-bottom: 1rem !important;
  }
}

.carousel > :first-child button {
  width: 8px !important;
  height: 8px !important;
  border-radius: 50% !important;
  margin-right: 4px !important;
  margin-left: 4px !important;
}
