.sideNav {
    background-color: var(--darkGreyBG);
}

.flixStreamLogo {
    font-size: 1.4rem !important;
}

.link {
   
}

.activeLink, .upgradePromo {
    background-color: black;
}

.fixed-side-nav {
    height: 100vh !important;
    overflow-y: auto !important;
  }

