.sideNav {
  background-color: var(--darkGreyBG);
}

.activeLink,
.upgradePromo {
  background-color: black;
}

.fixed-side-nav {
  height: 100vh !important;
  overflow-y: auto !important;
}

.sideNavWrapper {
  padding: 1rem;
}

@media (max-width: 1155px) {
  .sideNavWrapper {
    padding: 1rem 0.7rem 0.7rem 0.7rem;
  }
}
