.cardContainer {
  background-color: var(--darkGreyBG);
  border-radius: 15px;
}

.cardContainer small {
  color: var(--lightGreyText);
}

.btn {
  padding: 0.4rem 2rem !important;
  color: var(--darkGreyText) !important;
  font-size: 0.9rem !important;
}

.icon {
  margin-right: -7px;
}

.movieYearLength {
  font-size: 0.9rem;
  color: var(--lightGreyText);
}
