.videoContainer video {
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

.titleOverlay {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  color: white;

  display: block;
  padding: 10px;
  transition: top 0.5s ease-in-out;
}

.titleOverlay.titleVisible {
  top: 0;
}

.titleOverlay.titleHidden {
  top: -100%;
}

.controlsOverlay {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  color: white;

  display: block;
  padding: 10px;
  transition: bottom 0.5s ease-in-out;
}

.controlsOverlay.controlsVisible {
  bottom: 0;
}

.controlsOverlay.controlsHidden {
  bottom: -100%;
}

.controlsOverlay button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin: 5px;
}

.controlsOverlay button:hover {
  text-decoration: underline;
}

.playBTN {
  height: 2.75rem;
  width: 2.75rem;
  border-radius: 50%;
}

.progressBarContainer {
  height: 0.6rem;
}

.customProgress {
  --bs-progress-height: 0.3rem !important;
  --bs-progress-border-radius: 0 !important;
  --bs-progress-bar-bg: var(--brightRed) !important;
  overflow: visible !important;
}



.customProgress > div {
  position: relative !important;
  z-index: 1 !important;
  overflow: visible !important;
}

.customProgress > div::after {
  z-index: 2;
  content: "";
  position: absolute;
  top: -6px;
  right: -5px;
  width: 15px;
  height: 15px;
  background-color: var(--brightRed);
  border-radius: 50%;
}
