.homePageContainer {
  background-color: black;
  height: 100%;
}

.homePageInnerWrapper {
    max-width: 1200px;
}

h2 {
    letter-spacing: 0.1rem;
}

.btn {
    padding: 0.8rem 2.75rem !important;
    border-radius: 20px !important;
    color: var(--darkGreyText) !important; 
}

.card {
    background-color: var(--darkGreyText);
    border-radius: 15px;
}

.card:hover {
    background-color: rgb(31, 31, 31);
}

.card img {
   width: 100%;
   height: 18rem;
   border-radius: 15px;
}

.greySmall {
    color: var(--lightGreyText);
}

a {
    text-decoration: none !important;
    color: unset !important;
}



/* --darkGreyText: #161616;  */
