.link {
  font-size: 0.9rem !important;
}

.accentSpan {
  background-color: var(--darkGreyBG);
  height: 0.5rem;
  width: 50%;
  display: inline-block;
  margin: 0 auto;
  border-radius: 2px;
}

.image {
    height: 15rem;
    width: 100%;
    object-fit: cover;
}

.carouselRow {
    background-color: black;
}
