.modal {
}

.modal img {
  border-radius: 15px !important;
  height: 30rem !important;
  /* object-fit: cover !important; */
}

.modal > :first-child {
  background-color: black !important;
  padding: 1.25rem;
  border-radius: 22px !important;
}

.leftSideContentDiv p, .personellDetails {
  color: var(--lightGreyText);
}

.modalHeader {
  border-bottom: none !important;
}

.leftSideContentDiv {
  width: 65%;
}

.personellDetails {
    font-size: 0.9rem;
}

.closeBTN {
    position: absolute;
    right: 7px;
    top: 7px;
    border-radius: 50% !important;
    height: 2.75rem !important;
    width: 2.75rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darkGreyBG) !important;
    border: 0 !important;
}

.closeBTN:hover {
    background-color: rgb(78, 77, 77) !important;
}

.modalContentContainer {
gap: 3rem;
}

.heartLikeContainer {
  /* align-items: end !important; */
}

@media (max-width: 991px) {
  .modalContentContainer {
   flex-direction: column; 
   gap: 0; 
  }
  .heartLikeContainer {
    align-items: start;
    width: fit-content;
  }
  .leftSideContentDiv {
    width: 100%;
  }
  
}

