.customNav {
  background-color: var(--darkGreyBG);
  color: white !important;
  padding: 0.8rem 2.5rem !important;
}

.innerNav {
  margin-left: 5rem;
  gap: 1rem;
}

.signOutBTN {
  border: 0 !important;
  padding: 0.5rem 1.2rem !important;
  font-size: 0.9rem !important;
  background-color: var(--brightRed) !important;
}

.navMenu {
    gap: 2.2rem;
}

.newSpan {
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    background-color: #A618FC;
    margin-left: -2px;
}