.continueWatching {
  background-color: var(--darkGreyBG);
  border-radius: var();
  width: 28rem;
}

.continueWatching img {
  /* height: 100% !important; */
  object-fit: cover;
}

.playBTN {
  background-color: var(--bsLight);
  height: fit-content;
  border-radius: var(--borderRadiusSmall);
}

.customProgress {
  --bs-progress-border-radius: 2px !important;
  --bs-progress-bar-bg: var(--brightRed) !important;
  --bs-progress-height: 0.7rem !important;
}
