.clearHistoryBTN {
    background-color: var(--darkGreyBG) !important;
    border: 0 !important;
    font-size: 0.85rem !important;
    padding: 1px 0.8rem !important;
}

.historyIMG {
    height: 50px !important;
}

small {
    color: var(--medGreyText);
}